/**
 * Colors
 */
@primary_color: #FFA726;
@secondary_color: #FFCC80;
@accent_color: #FFE0B2;
@font_color: #333333;

/**
 * The navbar width (expanded)
 */
@navbar_width: 300px;

/**
 * The navbar width (collapsed)
 */
@navbar_width_collapsed: 100px;
