@import "~@/styles/global.less";

.inspector {
  display: flex;
  flex-flow: column;
  background: white;
  width: @side_panel_width;
  height: 100%;
  padding: 0 16px;
}

.underlined-title {
  padding: 0;
}

.scroll-panel {
  margin-top: 8px !important;
  overflow: hidden !important;
  flex: 1 1 auto !important;

  .space {
    padding-bottom: 24px;
  }
}

.attribute-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 12px 16px;
  margin-right: 18px;
  margin-bottom: 8px;
  gap: 24px;
  border-bottom: 1px solid @grey;
}

.attribute-key {
  font-weight: bold;
  flex: 0 0 auto;
}

.attribute-general {
  flex: 1 1 auto;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: end;
}

.attributes-key {
  font-weight: 500;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.attribute-value {
  display: flex;
  gap: 12px;
  text-align: right;
}

.attribute-item-fixed {
  align-items: center;
  height: 50px;
}

.no-border {
  border: 0;
}
