@import "global";

/**
 * Loading spinner
 */
.p-progressbar {
  height: 2px !important;
  border-radius: 0 !important;
  background: transparent !important;
}
.p-progressbar-value {
  background: @secondary_color !important;
}

/**
 * Tooltip
 */
.p-tooltip-arrow {
  display: none;
}

.p-tooltip-text {
  background: @dark !important;
  margin-left: 4px !important;
  padding: 4px 8px !important;
  border-radius: 2px !important;
}

/**
 * Toast message
 */
.p-toast, .p-toast-message {
  width: 300px !important;
  border-radius: 0 !important;
}

.p-toast-message-error {
  background: @red_light !important;
  border-left: 8px solid @red !important;
}

.p-toast-message-warn {
  background: @yellow_light !important;
  border-left: 8px solid @yellow !important;
}

.p-toast-message-success {
  background: @green_light !important;
  border-left: 8px solid @green !important;
}

.p-toast-message-info {
  background: @blue_light !important;
  border-left: 8px solid @blue !important;
}

.p-toast-message-icon {
  display: none !important;
}

.p-toast-icon-close {
  display: none !important;
}

.p-toast-message-text {
  margin: 0 !important;
}

.p-toast-summary {
  font-size: @h3 !important;
}

/**
 * The dialog
 */
.p-dialog-header {
  display: none !important;
}

.p-dialog-content {
  padding: 0 !important;
}

/**
 * Number input
 */
.pi {
  color: white;
}

.p-inputtext {
  padding: 8px 0 !important;
  border: 0 !important;
  border-bottom: 1px solid @dark !important;
  border-radius: 0 !important;
  outline: 0 !important;
  box-shadow: none !important;
}

.p-inputnumber-button {
  background: @dark !important;
  border: 0 !important;
  border-radius: 0 !important;
  width: 24px !important;
  height: 12px !important;
}
