@import "global";

/**
 * Loading spinner
 */
.p-progressbar {
  height: 2px !important;
  border-radius: 0 !important;
  background: transparent !important;
}

.p-scrollpanel-content {
  padding: 0 !important;
}

.p-progressbar-value {
  background: @primary_color !important;
}

/**
 * Tooltip
 */
.p-tooltip-arrow {
  display: none;
}

.p-tooltip-text {
  background: @dark !important;
  margin-left: 4px !important;
  padding: 4px 8px !important;
  border-radius: 2px !important;
}

/**
 * Toast message
 */
.p-toast, .p-toast-message {
  width: 300px !important;
  border-radius: 0 !important;
}

.p-toast-message-error {
  background: @red_light !important;
  border-left: 0 !important;
  border-top: 8px solid @red !important;
}

.p-toast-message-warn {
  background: @yellow_light !important;
  border-left: 0 !important;
  border-top: 8px solid @yellow !important;
}

.p-toast-message-success {
  background: @green_light !important;
  border-left: 0 !important;
  border-top: 8px solid @green !important;
}

.p-toast-message-info {
  background: @blue_light !important;
  border-left: 0 !important;
  border-top: 8px solid @blue !important;
}

.p-toast-message-icon {
  display: none !important;
}

.p-toast-icon-close {
  display: none !important;
}

.p-toast-message-text {
  margin: 0 !important;
}

.p-toast-summary {
  font-size: @h3 !important;
}

/**
 * The dialog
 */
.p-dialog-header {
  display: none !important;
}

.p-dialog-content {
  padding: 0 !important;
}

/**
 * Number input
 */
.pi {
  color: white;
}

.p-inputtext {
  padding: 6px 12px !important;
  border: 0 !important;
  border-radius: 0 !important;
  outline: 0 !important;
  color: @dark !important;
  box-shadow: none !important;
  font-family: "Fira Sans", normal, sans-serif !important;
}

.p-inputnumber-input {
  width: 124px !important;
  border: 0 !important;
  color: @dark !important;
  background: @light_grey !important;
}

.p-inputnumber-button {
  background: @dark !important;
  border: 0 !important;
  border-radius: 0 !important;
  width: 20px !important;
  height: 12px !important;
}

/**
 * Scroll panel
 */
.p-scrollpanel-bar {
  width: 6px !important;
  background-color: @grey !important;
  border-radius: 3px !important;
  opacity: 1 !important;
  transition: background-color 0.3s !important;
}

.p-scrollpanel-content {
  padding-left: 0 !important;
  height: 100% !important;
}

/**
 * Color picker
 */
.p-colorpicker {
  display: flex !important;
  justify-content: center;
  align-items: center;
}

.p-colorpicker-preview {
  width: 24px !important;
  height: 24px !important;
  border-bottom: 0 !important;
  border-radius: 12px !important;

  .p-inputtext {
    border: 0 !important;
    outline: 0 !important;
    box-shadow: none !important;
  }
}

/**
 * Checkbox
 */
.p-checkbox-box {
  border: 0 !important;
  background: @light_grey !important;
  border-radius: 0 !important;
  outline: 0 !important;
  box-shadow: none !important;

  &:hover {
    background: @accent_color !important;
  }
}

.p-checkbox-box.p-highlight {
  background: @secondary_color !important;
}

.p-checkbox-icon {
  color: @dark !important;
  font-size: 16px !important;
  font-weight: bold !important;
}

/**
 * Dropdown
 */
.p-dropdown {
  width: @input_width;
  background: @light_grey !important;
  border-radius: 0 !important;
  border: none !important;
  padding: 0 !important;
}

.p-dropdown-label {
  color: @dark;
}

.p-dropdown:not(.p-disabled).p-focus {
  box-shadow: none !important;
  border-color: @grey !important;
}

.p-dropdown:not(p.disabled):hover {
  border-color: @grey !important;
}

.p-dropdown .p-dropdown-trigger {
  border-radius: 0 !important;
}

.p-dropdown-panel {
  border-radius: 0 !important;
  border-bottom: 1px solid @grey !important;
  border-top: none !important;
}

.p-dropdown-items {
  padding: 0 !important;
  background: @light_grey !important;
}

.p-dropdown-item {
  padding: 6px 12px !important;
  color: @dark !important;
}

.p-dropdown-label.p-placeholder,
.p-dropdown-empty-message {
  color: @dark_grey !important;
}

.p-highlight {
  background: @accent_color !important;
}

.p-dropdown-item:hover {
  background: @accent_color !important;
}

.pi-chevron-down:before {
  color: @dark;
}