/**
 * These are the general styles (imported once in the App.vue)
 */
@import "prime-vue-components.less";
@import "../assets/fonts/firasans/style.css";

/**
 * The dark tone for icons
 */
.icon {
  fill: @dark;
}

/**
 * Scroll panel (often used settings)
 */
.scroll-panel {
  margin-top: 8px !important;
  overflow: hidden !important;
  flex: 1 1 auto !important;

  .space {
    padding-bottom: 48px;
  }
}

/**
 * Button
 */
.btn {
  border-radius: @border_radius;
  padding: 8px;
  width: 160px;
  border: 1px solid @dark;
  cursor: pointer;
  outline: 0;

  &:disabled {
    cursor: default;
    background: transparent;
  }
}

.btn-normal {
  color: white;
  background: @dark;

  &:hover {
    border-color: @dark_accent;
    background: @dark_accent;
  }

  &:disabled {
    color: @dark;

    &:hover {
      border-color: @dark;
      background: transparent;
    }
  }
}

.btn-secondary {
  color: @dark;
  border-color: @secondary_color;
  background: @secondary_color;

  &:hover {
    border-color: @accent_color;
    background: @accent_color;
  }

  &:disabled {
    color: @secondary_color;

    &:hover {
      border-color: @secondary_color;
      background: transparent;
    }
  }
}

.btn-primary {
  color: white;
  border-color: @primary_color;
  background: @primary_color;

  &:hover {
    border-color: @secondary_color;
    background: @secondary_color;
  }

  &:disabled {
    color: @primary_color;

    &:hover {
      border-color: @primary_color;
      background: transparent;
    }
  }
}

/**
 * The underlined title (classic title for sub modules, e.g. overview list etc.)
 */
.underlined-title {
  flex: 0 0 auto;
  font-size: @h3;
  padding-top: 12px;
  display: flex;
  align-items: center;
  border-bottom: 2px solid @secondary_color;
  height: @header-height;
}

/**
 * The warning for lists (e.g. if there are no results to display)
 */
.empty-warning {
  display: flex;
  align-items: center;
  margin-right: 18px;
  flex-direction: column;

  svg {
    fill: @dark_grey;
    height: 64px;
    width: 64px;
    margin-top: 32px;
    margin-bottom: 16px;
  }

  .message {
    color: @dark;
    font-size: @h3;
  }
}

/**
 * Searchbar
 */
.searchbar {
  padding: 6px 16px;
  background: @light_grey;

  input[type="text"] {
    width: 100%;
    background: transparent;
    border: none;
  }
}

/**
 * Input field
 */
input {
  outline: 0;
  padding: 8px 0;
  border: 0;
  border-bottom: 1px solid @dark;
}

.input-large {
  font-size: @h3;
}

/**
 * Global styles
 */

h1 {
  font-size: @h1;
}

h2 {
  font-size: @h2;
}

h3 {
  font-size: @h3;
}

hr {
  border: 1px solid @primary_color;
}

html,
body {
  box-sizing: border-box;
  line-height: 1.3;
  overflow: hidden;
}

* {
  box-sizing: inherit;
  color: @dark;
  font-size: @normal_text;
  font-family: "Fira Sans", normal, sans-serif;
  margin: 0;
  padding: 0;
  font-weight: normal;
}
